.segment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

.logo h3 {
    margin-bottom: 0;
    color: black;
}

.form {
    width: 50%;
}

.field {
    width: 100%;
}

.video-item img {
    width: 100%;
}

.user-nav {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-between;

    width: 25%;
}

.user-nav * {
    height: 100%;
    display: flex;
    align-items: center;
}

.user-nav__icon-box {
    position: relative;
}

.user-photo{
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.user-notification {
    font-size: .7rem;
    color: #fff;
    height: 1.15rem;
    width: 1.15rem;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: .65rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#icon-bell,
#icon-camera,
#icon-outline {
    font-size: 19px;
}